---
import Breadcrumbs from '../../../components/Breadcrumbs.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<title>Category</title>
	</head>

	<body>
		<Breadcrumbs />

		<h1>Category</h1>

		<a href="/products/category/bluetooth-mouse">View Bluetooth Mouse</a>
	</body>
</html>
