---
import Breadcrumbs from '../../components/Breadcrumbs.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<title>Products</title>
	</head>

	<body>
		<Breadcrumbs />

		<h1>Products</h1>

        <a href="/products/category">View Category</a>
	</body>
</html>
